---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables ------------------- //

// Colors
$color-base: #000;
$color-accent-1: #125ccc;
$color-accent-2: #e94043;

// Fonts
$font-family: 'Fira Sans', Helvetica, sans-serif;
$font-family-mono: 'Fira Mono', 'Courier New', monospace;
$font-size: 16px;

// Widths
$wrapper-width-small: 90%;
$wrapper-width-medium: 50%;
$wrapper-width-large: 40%;

// Breakpoints
$breakpoint-small: 50em;
$breakpoint-medium: 80em;

// Mixins ---------------------- //


// Imports --------------------- //

@import
        "normalize",
        "layout"
;