<footer class="site-footer">
  <div class="wrapper">

    <h2>About</h2>
    <p>{{ site.description }}</p>
    <span class="footer-links"><strong>Email:</strong> <a href="mailto:{{ site.email }}">{{ site.email }}</a></span>
    <span class="footer-links"><strong>Twitter:</strong> <a href="http://twitter.com/shutterforth">@shutterforth</a></span>
    <span class="footer-links"><strong>GitHub:</strong> <a href="http://github.com/shutterforth">shutterforth</a></span>
    <small>All content &copy; 2015 Jason Rodriguez. Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></small>

  </div>
</footer>